// .app-header-nav {
//   text-align: center;
//   font-size: 1.5em;
// }

// .app-header-nav a{
//     margin-left: 50px;
//     color: green;
// }

.app-header-filter-home {
  // display: none;
  // margin-bottom: 60px;
  margin-top: 100px;
  transition: 0.1s;
  // height: 88px;
  // transform-origin: 50% 0 !important;
  // transform: scale(0.42, 0.69) translateY(-58px) !important;
  // transition: transform 0.25s ease, opacity 50ms ease 20ms, visibility 0ms 0.15s !important;
}
.app-header-filter-normal {
  // display: none;
  // height: 88px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.filter-scrolled {
  margin-top: 0px;
  margin-bottom: 20px;
}

.app-header-container {
  top: 0;
  background-color: rgb(231, 242, 243);
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: rem(50px);
  a {
    color: black;
    text-decoration: none;
  }
}

.header-for-home {
  background-color: inherit;
  color: white;
  transition: 0.1s;

  a {
    color: white;
  }
}

.app-header-container-scrolled {
  transition: 0.4s;
  top: 0;
  background-color: rgb(231, 242, 243);
  color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: rem(50px);
  a {
    color: $clr2;
    text-decoration: none;
  }
}

.app-header-logo {
  .app-header-logo-img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  .app-header-name-pawesome {
    transition: 0.4s;
  }
}

.app-header-name-paw {
  // color:#f90;
  color: $clr9;

  // &:hover {
  //   color: $clr1;
  // }
}

.app-header-content {
  font-size: rem(34px);
  padding: 20px;
}

.app-header-link-container {
  font-size: rem(20px);

  .app-header-link-pets {
    transition: 0.4s;
    margin-right: 20px;
    font-size: 25px;
  }

  .app-header-link-login {
    margin-left: 15px;
    font-size: 25px;
    &:hover {
      cursor: pointer;
    }
  }

  .app-header-mode {
    cursor: pointer;
    margin-left: 15px;
    font-size: 25px;
    user-select: none; 
  }
}

////////////////////////////////// FILTER ////////////////////////////////////////
.app-header-filter-container {
  overflow: hidden;

  
  border-radius: 50px;
  background-color: #fff;
  // background-color:inherit;
  color: black;
  font-size: rem(17px);
  margin: 0px 10px 0px 10px;
  // overflow: hidden;

  .app-header-filte-box {
    width: 530px;
    // padding: 10px;

    select {
      border: none;
      outline: none;
      background-color: inherit;
      // &:hover{
      //   background-color: #eee;

      // }
    }

    .app-header-filte-box-type {
      padding: 10px;
      margin-left: 10px;
      // margin-left: 10px;
      &:hover {
        background-color: #eee;
      }

      .type-title {
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 2px;
        padding-inline-end: 60px;
      }

      .type-text {
        // color: #afafaf;
        font-size: 14px;
        line-height: 18px;
        border: none;
        outline: none;
        background-color: inherit;
      }
    }

    .app-header-filte-box-age {
      padding: 10px;
      &:hover {
        background-color: #eee;
      }

      .age-title {
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 2px;
        padding-inline-end: 60px;
      }

      .age-text {
        // color: #afafaf;
        font-size: 14px;
        line-height: 18px;
        border: none;
        outline: none;
        background-color: inherit;
      }
    }

    .app-header-filte-box-gender {
      padding: 10px;
      &:hover {
        background-color: #eee;
      }

      .gender-title {
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 2px;
        padding-inline-end: 60px;
      }

      .gender-text {
        // color: #afafaf;
        font-size: 14px;
        line-height: 18px;
        border: none;
        outline: none;
        background-color: inherit;
      }
    }
    .app-header-filte-box-location {
      padding: 10px;
      &:hover {
        background-color: #eee;
      }

      .location-title {
        font-weight: 800;
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 2px;
        padding-inline-end: 60px;
      }

      .location-text {
        // color: #afafaf;
        font-size: 14px;
        line-height: 18px;
        border: none;
        outline: none;
        background-color: inherit;
      }
    }

    .app-header-filte-box-Search {
      .search-btn {
        margin-left: 10px;
        background-color: #ff385c;
        border-radius: 50%;
        width: 40px !important;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .options {
    position: absolute !important;
    left: 0px !important;
    top: 100% !important;
    z-index: 1 !important;
    background: rgb(255, 255, 255) !important;
    border-radius: 32px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
    margin-top: 12px !important;
    // max-height: calc(100vh - 220px) !important;
    overflow: hidden auto !important;
    padding: 16px 32px !important;
  }
}

////////////////////////////////// SMALL FILTER  ////////////////////////////////////////

.app-header-filter-container-small {
  transition: 0.4s;

  border-radius: 50px;
  background-color: #fff;
  // background-color:inherit;
  color: black;
  // font-size: rem(22px);
  margin: 0px 10px 0px 10px;
  // overflow: hidden;
  cursor: pointer;

  .app-header-filte-box-small {
    width: 270px;
    padding: 5px;

    .app-header-filte-box-search-small {
      padding: 10px;
      margin-left: 10px;
      // margin-left: 10px;

      .small-search-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        padding-bottom: 2px;
        padding-inline-end: 60px;
      }
    }
  }
  .app-header-filte-box-Search {
    .search-btn {
      margin-left: 10px;
      background-color: #ff385c;
      border-radius: 50%;
      width: 40px !important;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
    }
  }
}

.hide-small-search {
  display: none;
}

////////////////////////////////////////// MODAL ///////////////////////////////

.modal {
  font-size: rem(20px);

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  color: black;
}

.modal-body-login {
  padding: 2px 16px;
  height: 35vh;
}
.modal-body-signup {
  padding: 2px 16px;
  height: 40vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: $clr8;

  // color: rgb(117, 114, 114);
  // color: $clr1;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;

  &:hover,
  &:focus {
    color: $clr3;

    text-decoration: none;
    cursor: pointer;
  }
}

/////////////////////////////////////////////////////////DARK MODE//////////////////////////////////////////

.dark-mode-small-search {
  transition: 0.4s;
  background-color: #afafaf;
  color: white;
}

.dark-mode-header-container {
  transition: 0.4s;
  background-color: #222223;
  color: white;
}

.dark-mode-name-pawesome {
  transition: 0.4s;
  color: white;
}

.dark-mode-link-pets {
  transition: 0.4s;
  color: white;
}
