.chat {
    background-color: #b8da7f59;
    border-radius: 9px;
    min-height: 100px;
    width: 100%;
    margin: auto;
    ul {
        min-height: 80px;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        gap: 5px;
        li {
            width: 70%;
            padding: 10px;
            border-radius: 5px;
            font-style: normal;
        }
    }
}

.chat-form {
    justify-content: center;
    display: flex;
    input {
        flex-basis: 60%;
        border-radius: 5px;
        border: none;
        outline: none;
        padding: 5px;
        border: 1px solid $clr7;
    }
    button {
        flex-basis: 10%;
        border: none;
        background-image: linear-gradient(to right, #bbdb7f, #86cb77);
        font-size: 16px;
        border-radius: 5px;
        color: white;
        margin: 0;
        padding: 5px;
    }
}

.outcoming-msg {
    align-self: flex-end;
    background-color: #a1d37b;
    display: flex;
    flex-direction: column;
    :first-child {
        font-weight: 600;
    }
}
.incoming-msg {
    align-self: flex-start;
    background-color: #f3fbf1;
    display: flex;
    flex-direction: column;
    :first-child {
        font-weight: 600;
    }
}
