* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr8;
    color: $clr6;
}

html {
    font-family: 'roboto';
    color: $clr2;
    scroll-behavior: smooth;
}

body {
    font-family: 'roboto';
    margin: 0;

    padding-right: 0px !important; /// added because of matirial UI select
    overflow:auto !important; /// added because of matirial UI select
    
}



img {
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 0.4em;
    line-height: 0.9;
    color: $clr14;
}

h1 {
    font-size: rem(30px);
}

p {
    margin: 0 0 2em;
}

li{
    list-style: none;
}


h1{
    font-family: 'roboto';
}




main{
    &.main-app{
        transition: 0.4s;
        background-color: inherit;
    }

}


button{
  border: none;
  background-image: linear-gradient(to right, #bbdb7f, #86cb77);
  margin-right: rem(10px);
  font-size: rem(22px);
  border-radius: 30px;
  color: white;
  font-weight: 500;

  a {
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
  }
}











