.page-home-hero {

}

.ms-slide-bgvideo {
  opacity: 1;
  width: 100%;
  // height: 900px;
  // background-color: green;
  // width: 588px;
  // height: 310.078px;
  margin-top: -13.5px;
  margin-left: 0px;
}

.page-home-hero-content {
  position: absolute;
  color: white;
  font-size: rem(70px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 900px;
  // padding: 0 10px;
  // width: 100%;
  // margin: auto;
}

.text-test {
  font-size: rem(30px);
  padding: 20px;
}
