.page-home {
  transition: 0.4s;
}

.page-home-hero {
  position: relative;
  height: 100vh;
}

.ms-slide-bgvideo {
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // margin-top: -13.5px;
  margin-left: 0px;
}

.page-home-hero-content {
  // position: absolute;
  // color: white;
  // font-size: rem(45px);
  // left: 27%;
  // top: 90%;
  // transform: translate(-50%, -50%);
  // text-align: center;
  // max-width: 900px;

  position: absolute;
  color: white;
  left: 8%;
  top: 40%;
  max-width: 900px;
  font-size: 46.3px;

  @include for-normal-layout {
    text-align: center;

    font-size: rem(50px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @include for-wide-layout {
    text-align: center;

    font-size: rem(70px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  // .page-home-hero-title {
  //   // max-width: 20ch;
  // }

  // .page-home-hero-btn{
  //   padding: 13px 30px;
  //   border: none;
  //   outline: none;
  //   background-image: linear-gradient(to right, #bbdb7f, #86cb77);
  //   margin-right: 0.625rem;
  //   font-size: 1.175rem;
  //   border-radius: 30px;
  //   color: white;
  //   font-weight: 500;
  //   margin-top: 10px;
  //   @include for-narrow-layout {
  //     padding: 18px 50px;
  //     font-size: 1.375rem;

  //   }
  //   @include for-normal-layout {
  //     padding: 18px 50px;
  //     font-size: 1.375rem;

  //   }
  // }
}

.learn-more-btn {
  transition: 0.4s;
  padding: 15px 50px;
  border: 2px solid #86cb77;
  background-image: none;
  background-color: white;
  margin-right: rem(10px);
  font-size: rem(17px);
  border-radius: 30px;
  color: #86cb77;
  font-weight: 500;
  transition: 0.1s;
  outline: none;
  margin-bottom: 30px;

  a {
    text-decoration: none;
  }
  &:hover {
    border: 2px solid #86cb77;
    cursor: pointer;
    background-image: linear-gradient(to right, #bbdb7f, #86cb77);
    color: white;
  }
}

.pet-preview {
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  
  background-color: inherit;
  .square-ratio {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
  }

  .pet-preview-pet-name {
    transition: 0.4s;
    user-select: none;
    color: black;
    font-size: rem(18px);
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px; //
  }
  .dark-mode-pet-name {
    transition: 0.4s;
    color: white;
  }

  p {
    transition: 0.4s;
    user-select: none;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #9c9b9b;
  }
  .dark-mode-pet-short-desc {
    transition: 0.4s;
    color: #949494;
  }
  .pet-preview-host-and-likes {
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    .pet-preview-host {
      transition: 0.4s;
      color: #727272;
      user-select: none;
      font-size: rem(14px);
      margin: 0px;
    }
    .dark-mode-pet-host {
      transition: 0.4s;
      color: #c7c2c2;
    }
    .pet-preview-likes {
      .pet-preview-likes-amount {
        transition: 0.4s;

        margin-left: 10px;
        font-size: rem(18px);
        user-select: none;
      }
      .dark-mode-pet-likes-amount {
        transition: 0.4s;
        color: #e7e4e4;
      }
      .pet-preview-like-btn {
        cursor: pointer;
        background-image: none;
      }
    }
  }
}

.pets-preview-container {
  margin-top: 80px;
  .pets-preview-subject {
    color: #6fab62;
    font-size: rem(25px);
    margin-left: 40px;
    user-select: none;
    margin-bottom: 30px;
    margin: 0px 0px 30px 0px;
  }
}

////////////////////////////// PLAN ADOPT ///////////////////////////////

.plan-adopt {
  background-color: #efeef1;
  border-bottom: 1px solid #ddd;

  transition: 0.4s;

  .plan-adopt-header {
    color: rgb(70, 68, 68);
    padding-top: 60px;
    .plan-adopt-header-inner {
      margin-bottom: 40px;
      .plan-adopt-header-txt {
        transition: 0.4s;

        font-weight: 100;
        font-size: rem(26px);
      }
    }
  }

  .plan-adopt-body {
    flex-direction: column;

    @include for-narrow-layout {
      flex-direction: column;
    }

    @include for-normal-layout {
      flex-direction: row;
    }
    .plan-adopt-body-box1 {
      margin-bottom: 30px;
      border-bottom: 1px solid rgb(190, 187, 187);
      @include for-narrow-layout {
        border-bottom: 1px solid rgb(190, 187, 187);
      }

      @include for-normal-layout {
        border-bottom: none;
      }
      .plan-adopt-body-header1 {
        font-size: rem(22px);
        padding: 0px 30px 10px 30px;
        color: #86cb77;
      }
      .plan-adopt-body-txt1 {
        color: $clr4;
        margin-bottom: 10px;
        font-size: rem(14px);
      }
    }

    .plan-adopt-body-box2 {
      margin-bottom: 30px;
      border-bottom: 1px solid rgb(190, 187, 187);
      @include for-narrow-layout {
        border-bottom: 1px solid rgb(190, 187, 187);
      }

      @include for-normal-layout {
        border-bottom: none;
      }

      .plan-adopt-body-header2 {
        font-size: rem(22px);
        padding: 0px 30px 10px 30px;
        color: #86cb77;
      }
      .plan-adopt-body-txt2-holder {
        margin: 5px 0px 10px 0px;

        .plan-adopt-body-txt2 {
          color: $clr4;
          font-size: rem(14px);
          margin: 5px;
        }
      }
    }

    .plan-adopt-body-box3 {
      margin-bottom: 30px;

      .plan-adopt-body-header3 {
        font-size: rem(22px);
        padding: 0px 30px 10px 30px;
        color: #86cb77;
      }
      .plan-adopt-body-txt3 {
        color: $clr4;
        font-size: rem(14px);
        margin: 5px 0px 10px 0px;
      }
    }
  }
}

////////////////////////////////// CAROSELA CHANGES /////////////////////////////////////////

// TO REMOVE THE CHANGES THAT WAS MADE MANUALLY , JUST COMMNET EVERYTHING IN THE "CAROSELA CHANGES"

//// to make the slider smaller
.carousel {
  &.carousel-slider {
    .control-arrow {
      top: 45%;
      color: #fff;
      font-size: 26px;
      margin-top: 0;
      padding: 5px;
      bottom: auto;
    }
  }
}

//// To remove the strange black bgc at home
.carousel {
  .slide {
    background: none;
  }
}

//// to remove the outline from dots
.carousel {
  .control-dots {
    .dot {
      outline: none;
    }
  }
}

/////////////////////////////////// DARM MODE ///////////////////////////

.dark-mode-page-home {
  transition: 0.4s;
  background-color: #323233;
}

.dark-mode-plan-adopt {
  transition: 0.4s;
  background-color: #3f3f41;
  border-bottom: 1px solid #000000;
}

.dark-mode-plan-adopt-header {
  transition: 0.4s;
  color: white;
}

.dark-mode-plan-adopt-btn {
  transition: 0.4s;
  border: 2px solid #3a3a3a !important;
  // background-color: rgb(77, 75, 75);
  background-color: rgb(104, 101, 101) !important;
  color: #86cb77 !important;
}

.dark-mode-pet-preview {
  transition: 0.4s;
  border: 1px solid #504e4e;
}

.dark-mode-host-and-likes {
  transition: 0.4s;
  border-top: 1px solid #504e4e !important;
}

.dark-mode-preview-subject {
  transition: 0.4s;
  color: #86cb77 !important;
}


.dark-mode-main-app{
  transition: 0.4s;
  background-color: #323233;

}