.page-pet-title{
    color: $clr4;
}

.pet-list-page{
    transition: 0.4s;
    
    .pet-list {
        padding-top: 180px;
        // flex: 1;
        // background-color: aqua;
    }
}

<<<<<<< HEAD
.pet-preview {
    background-color: $clr6;

    div img:hover{
        cursor: pointer
    }
}
=======






/////////////////////// DARK MODE /////////////////////

.dark-mode-pet-page{
    transition: 0.4s;
    background-color: #323233;
}
>>>>>>> 4c86ae24e0e6b716351e8b2d0e6da7fc4ca129e9
