.page-pet-title{
    color: $clr4;
}

.pet-list-page{
    transition: 0.4s;
    
    .pet-list {
        padding-top: 180px;
        // flex: 1;
        // background-color: aqua;
    }
}

.pet-preview {
    background-color: $clr6;

    div img:hover{
        cursor: pointer
    }
}
