.pet-details {
    margin-top: rem(95px);
    display: flex;
    flex-direction: column;
}

.pet-details-imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    border-radius: 12px;
    overflow: hidden;
    
    .pet-details-img:first-child {
        grid-column: span 2;
        grid-row: span 2;
        width: 100%;
        max-height: calc(100vh - 110px) !important;
    }
    .pet-details-img {
        width: 100%;
        object-fit: cover;
        max-height:  calc((100vh - 120px)/2)  !important;
    }
}

.pet-details-main {
    display: flex;
    gap: 80px;
    margin-top: 40px;
}
.pet-details-pet {
    width: 70%;
    padding: 0px 40px;
    .pet-details-title {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 20px;
        
        h3{
            color: $clr3;

        }
    }
    .pet-details-info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        text-align: center;
        align-items: center;
        padding: 30px 0px;
        border-top: 1px solid rgb(221, 221, 221);
        h5{
            color: $clr7;

        }
    }
    p {
        border-top: 1px solid rgb(221, 221, 221);
        padding: 30px 0px;
        color: $clr4;

    }
}
.pet-details-nav {
    width: 30%;
    .pet-details-order {
        padding: 20px;
        margin-bottom: 40px;
        gap: 10px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

        textarea {
            border-radius: 8px;
            width: 100%;
            outline: none;
            resize: none;
        }

        .add-order {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            button {
                border-radius: 8px;
                width: 100%;
                padding: 15px;
                margin: auto;
            }
        }
    }
    .pet-details-owner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    }
}

.pet-details-owner-info {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    img {
        grid-column: 2/3;
        grid-row: 1/4;
        border-radius: 50%;
    }
}

.pet-details-map {
    height: 200px;
    width: 100%;
    > * {
        position: relative;
    }
}
