.owner-profile {
    margin-top: rem(110px);
    display: flex;
}
.orders {
    width: 100%;
    gap: 10px;
}
.order {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: rem(5px);
    border: 1px solid #cac3c3;
    font-size: 13px;
    @include for-narrow-layout {
        font-size: 14px;
    }
    @include for-normal-layout {
        font-size: 16px;
    }

    .order-short {
        height: 100px;
        display: flex;
        gap: 10px;
        @include for-narrow-layout {
            gap: 10px;
        }
        @include for-normal-layout {
            gap: 20px;
        }


        .order-pet {
            text-decoration: none;
            color: $clr9;
            &:hover {
                color: $clr4;
            }
            display: flex;
            flex-direction: column;
            @include for-narrow-layout {
                align-items: initial;
                justify-content: initial;
            }
            @include for-normal-layout {
            }
            .order-img {
                width: 100px;
                height: 100px;

                img {
                    border-radius: rem(5px);
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
        .order-info {
            flex-basis: 70%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            cursor: default;
            .order-from {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #3d3d40;
                gap: 5px;
                .order-user-name {
                    text-decoration: none;
                    color: $clr9;
                    &:hover {
                        color: $clr4;
                    }
                }
            }
            .order-date {
                color: #909098;
                font-size: rem(14px);
                font-size: 12px;
                @include for-narrow-layout {
                    font-size: 14px;
                }
                @include for-normal-layout {
                    font-size: 16px;
                }
            }
        }
        .order-status {
            width: 20%;
            text-align: center;
            font-size: 13px;
            @include for-narrow-layout {
                font-size: 14px;
            }
            @include for-normal-layout {
                font-size: 16px;
            }
        }
        select {
            border: none;
            margin: auto;
            padding: 10px;
            outline: none;
            border-radius: rem(9px);
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.308) 0px 2px 5px !important;
            }
        }
        .user-status {
            border: none;
            margin: auto;
            padding: 10px;
            outline: none;
            border-radius: rem(9px);
            display: flex;
            justify-content: center;
        }

        .requested {
            background-color: #bbdb7f;
        }
        .pending {
            background-color: $clr9;
        }
        .accepted {
            background-color: $clr8;
        }
        .denied {
            background-color: #db8d7f;
        }
    }
    .order-more {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 0px;
        border-top: 1px solid $clr4;
        color: $clr7;
        font-style: italic;
        margin-top: 10px;
        .order-msg {
            padding-bottom: 10px;
            border-bottom: 1px solid $clr4;
        }
    }
}
