// Colors
$clr1: #ce2e6c;
$clr2: #092F32;
$clr3: #1e1e1f;
$clr7: #67676b;
$clr4: #999999;
$clr5: #dff0ea;
$clr6: #fff;
$clr8: #86cb77;
$clr9: #f90;




// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;