// Colors
$clr1: #ce2e6c;
$clr2: #092f32;
$clr3: #1e1e1f;
$clr7: #67676b;
$clr4: #999999;
$clr5: #dff0ea;
$clr6: #fff;
$clr8: #86cb77;
$clr9: #f90;
// Colors for dark mode
$clr10: #ababab;
$clr11: #afafaf;
$clr12: #222223;
$clr13: #9a9a9c;
$clr14: #323233;
$clr15: #3f3f41;
$clr16: #3a3a3a;
$clr17: #504e4e;
$clr18: #999999;
$clr19: #c7c2c2;
$clr20: #cfcfcf;
$clr21: #c1c1c1;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;



